body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message {
    font-size: 36px;
    color: #dc3545;
    border: 2px solid #dc3545;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8d7da;
}