/* Estilos para el contenedor principal */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  /* Estilos para cada tarjeta */
  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Estilos para el encabezado de la tarjeta */
  .card-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  /* Estilos para el cuerpo de la tarjeta */
  .card-body {
    padding: 15px;
  }
  
  /* Estilos para los elementos de texto */
  p {
    margin: 5px 0;
  }
  
  /* Estilos para la lista de medicamentos */
  ul {
    padding-left: 20px;
  }
  
  /* Estilos para los elementos de la lista */
  li {
    margin-bottom: 5px;
  }
  
  container-presta-list {
    width: 85%;
    margin-right: 10px;
}


/*Formulario medicalRecordNew*/

.medical-record-new {
  font-family: Arial, sans-serif;
  width: 82%;
  margin-right:3%;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

.medical-record-new h2 {
  color: #f7fafc;
  margin-top: 20px;
}

.medical-record-new label {
  display: block;
  margin-top: 10px;
}

.medical-record-new input[type="text"],
.medical-record-new input[type="date"],
.medical-record-new textarea,
.medical-record-new select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #2980b9;
  border-radius: 4px;
}

.medical-record-new input[type="submit"] {
  background-color: #2980b9;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.medical-record-new input[type="submit"]:hover {
  background-color: #21618c;
}

.container-profesional,
.container-paciente {
  display: flex;
  justify-content: space-between;
  
}

.column {
  width: 48%;
}

.search-dni {
  display: flex;
  align-items: baseline;
}