.sidenav.navbar.navbar-dark.bg-primary
       
//-     a(href="/api/home" id="lista-prescripcion-sidenav") Prescripciónes
//-     a(href="#" id="prestaciones-sidenav") Prestaciones
//-     a(href="/api/medicine" id="medicamentos-sidenav") Medicamentos
//-     a(href="/api/profesional" id="profesionales-sidenav") Profesionales
//-     a(href="/api/patient" id="pacientes-sidenav") Pacientes
//-     a(href="/api/logout" id="perfil-sidenav") Salir 