.sidenav
    a(href="#") Inicio
    a(href="#") Productos
    a(href="#") Servicios
    a(href="#") Contacto
.main
    h1 Contenido Principal
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit magna non turpis accumsan scelerisque. Nam dictum, enim sed commodo efficitur, dui dui commodo orci, vel fermentum odio mi eget velit. Mauris fringilla nec lorem in egestas. Nunc vel fermentum mi. Aliquam nec felis neque. Integer commodo, est at tempor ultricies, felis libero eleifend arcu, non condimentum justo leo vel magna. Proin tempor velit nec risus malesuada euismod. Nam nec quam mi. Proin in tempus metus. Donec ac viverra sem. Curabitur sed justo id nulla rhoncus aliquet id at mauris.