.sidenav
    a(href="#") Prescripción
    a(href="/medical-record/new") Nueva Prescripción
    a(href="/api/home") Listar Prescripción
    a(href="") Medicamentos
    a(href="/api/profesional") List Profesionales
    a(href="#") Perfil