.sidenav
    a(href="#" id="prescripcion-sidenav") Prescripción
    a(href="/medical-record/new" id="medical-record-sidenav") Nueva Prescripción
    a(href="/api/home" id="lista-prescripcion-sidenav") Lista Prescripción
    a(href="/api/medicine" id="medicamentos-sidenav") Medicamentos
    a(href="/api/profesional" id="profesionales-sidenav") Profesionales
    a(href="/api/patient" id="pacientes-sidenav") Pacientes
    a(href="#" id="perfil-sidenav") Perfil