.sidenav
    a(href="#") Prescripción
    a(href="/medical-record/new") Nueva Prescripción
    a(href="/api/home") Lista Prescripción
    a(href="") Medicamentos
    a(href="/api/profesional") Lista Profesionales
    a(href="/api/profesional/new") Nuevo Profesional
    a(href="#") Perfil